td {
  font-size: 32px;
  padding: 12px 12px;
  text-align: left;
  background-color: greenyellow;
}

.row1 {
  min-width: 80px;
  max-width: 90px;
}

.row2 {
  min-width: 590px;
  max-width: 590px;
  overflow: hidden;
}

.row3 {
  min-width: 300px;
  max-width: 300px;
  overflow: hidden;
}

.row4 {
  min-width: 200px;
  max-width: 200px;
}
