td {
  padding: 12px 15px;
  text-align: left;
  font-size: 32px;
  table-layout: auto;
}

.row1 {
  color: brown;
  width: 150px;
}

.row2 {
  background-color: blanchedalmond;
  width: 50px;
  overflow: hidden;
}

.row3 {
  color: rgb(165, 42, 65);
  width: 300px;
}

.row4 {
  color: rgb(42, 165, 81);
  width: 200px;
}
