.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding: 12px 12px;
  text-align: center;
  font-size: 32px;
  background-color: #3c0080;
  color: rgb(143, 25, 25);
}

.th1 {
  min-width: 80px;
}

.th2 {
  min-width: 590px;
  overflow: hidden;
}
.th3 {
  min-width: 300px;
}
.th4 {
  min-width: 200px;
  max-width: 200px;
}
.form {
  display: flex;
  gap: 15px;
}

.form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

.form * {
  font-size: 28px;
}
