.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
  background-color: rgb(205, 235, 253);
}

.table th {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
  background-color: rgb(117, 201, 250);
}
.table h2 {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
  border-collapse: collapse;
  width: 100%;
  background-color: rgb(117, 201, 250);
}
.form {
  display: flex;
  gap: 5px;
}

.form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

.form * {
  font-size: 28px;
}
